.extendedHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;
}


.leftSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding-top: 1.5%;
}

.shutdownMessage {
    display: flex;
    align-items: baseline;
    gap: 8px;
    
}


.shutdownText {
    color: rgba(255, 255, 255, 0.50);
    font-family: "MD IO Trial";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 25px;
}

.centerSection {
    position: relative;
    transform: translate(-30px,-5px); 
}


.trademark {
    position: absolute;
    top: 3.5px; 
    right: -10px; 
    flex-shrink: 0;
    color: #FFF;
    font-family: Helvetica;
    font-size: 5.607px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.056px;
    text-transform: uppercase;
}


.rightSection {
    display: flex;
    align-items: center;
    gap: 24px;
}