
.wrapper {
  position: relative;
  width: 100vw; 
  height: calc(100vw * 9 / 16);
  max-height: 100vh; 
  max-width: calc(100vh * 16 / 9); 
  overflow: hidden;
}

.leftTop {
  position: absolute;
  top: 3.25%;  
  left: 1.15%;  
  color: #FFF;
  font-family: "Test Sohne Schmal";
  font-size: 80px; 
  font-weight: 600;
  line-height: 100px; 
  text-transform: uppercase;
  letter-spacing: 2px;
}

.centerTyping {

  width: 468px;
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translateX(8%);
  white-space: pre-line;
  max-width: 60%; 
  color: rgba(255, 255, 255, 1);
  font-family: "MD IO Trial";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  text-align: left;
}

.bottomButton {
  position: absolute;
  bottom: 12.5%;
  left: 43%;
  /* transform: translateX(-30%); */
  width: 310px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(0, 0, 0, 0.10);
  text-align: center;
  font-family: "MD IO Trial";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  transition: color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.bottomButton:disabled, .btnDisabled {

  color: rgba(255, 255, 255, 0.50);
  border-color: rgba(255, 255, 255, 0.50);
  pointer-events: none;
}

.btnEnabled {

  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  pointer-events: auto;
}

.bottomRight {
  position: absolute;
  bottom: 10.5%;
  
  right: 1.2%;   
  width: 327px;
  height: 81px;
  text-align: left;
  white-space: pre-line;
  color: rgba(255, 255, 255, 1);
  font-family: "MD IO Trial";
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}