.soundButtonContainer {
    display: flex;
    width: 80.842px;
    height: 24.629px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.onButton {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "MD IO Trial";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    /* margin-right: -20px; */
    transform: translateX(20px);
}

.soundGif {
 display: flex;
width: 80.842px;
height: 24.629px;
justify-content: flex-end;
align-items: center;
gap: 2px;
flex-shrink: 0;
}