.pageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.backgroundOption {
    flex: 1;
    border: none;
    position: relative;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 1rem;
}

.buttonPlacement {
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 310px;
}