.pageContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerArea {
  margin-top: -1%;
}

.infoArea {
  margin-top: 4%;
  margin-left: 0.8%;
}


.productInfoWrapper {
  transition: opacity 0.5s ease-out;
}


.productInfoWrapper.fadeOut {
  opacity: 0;
  pointer-events: none;
}


.viewerArea.slideLeft {
  transform: translate(-20%, 5%);
}

.actionsArea {
  position: relative;
}

.looksGoodContainer {
  position: fixed;
  top: 95%;
  left: 95%;
  transform: translate(-86.5%, -27%);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 60px;
  transition: opacity 0.5s ease-out;
 
}


.looksGoodContainer.fadeOut {
  opacity: 0;
  pointer-events: none;
}


.checkoutContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  z-index: 1000;
  animation: slideInFromRight 0.3s ease-out;
}


@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}