
.loader {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20vh;
    align-items: center;
    box-sizing: border-box;
   position: relative; 
    
}

.compositionContainer {
  transform: translate(0%,-160%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTextContainer {
    display: flex;
    align-items: baseline;
    gap: 8px;
}


.headphonesIcon {
    width: 56px;
    height: 56px;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translate(0%, -340%);
    transition: opacity 0.5s ease-in-out;
}

.headphonesIcon.visible {
    opacity: 1;
}

.headphonesIcon.pulsing {
    animation: pulse-headphones-continuous 2s ease-in-out infinite;
}

@keyframes pulse-headphones-continuous {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

.typingText {
    color: #FFF;
    font-family: "MD IO Trial";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    direction: ltr;
  
    text-align: left;
    width: 550px;
    max-width: 90%;
    min-height: 120px;
    transform: translate(11%, -150%);
}


.buttonContainer {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translate(-50%,250%);
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.pulse { animation: pulse 1s ease-in-out infinite; }
@keyframes pulse { 50% { opacity: 0; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }


.firstIcon { width: 31.599px; height: 97.762px; }
.secIcon { width: 51.416px; height: 94.982px; margin-left: 6px; }
.thirdIcon { width: 51.309px; height: 96.982px; }
.fourthIcon { width: 45.599px; height: 97.762px; }
.fifthIcon { width: 51.416px; height: 94.982px; }
.sixthIcon { width: 40.776px; height: 94.982px; margin-left: 6px; }
.progressText { position: absolute; bottom: -31px; right: 5px; color: #FFF; font-family: 'MD IO Trial'; font-size: 20px; text-transform: uppercase; text-align: right; width: 54px; }
.trademark { position: relative; top: 0; right: -10px; color: #FFF; font-family: 'Helvetica'; font-size: 16.458px; font-weight: 100; letter-spacing: 0.165px; text-transform: uppercase; height: 79px; }
.loadingText { position: absolute; bottom: -34px; left: 0; color: #FFF; font-family: 'MD IO Trial'; font-size: 20px; text-transform: uppercase; }