.startButton {
    width: 310px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease, opacity 0.2s ease;
}

.startButton:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.startButton:active {
    opacity: 0.5;

}
.buttonText {
    color: #FFF;
    text-align: center;
    font-family: "MD IO Trial";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    text-transform: uppercase;
}
  
