.startButton {
    width: 310px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: transparent;
    padding: 0;
    cursor: pointer;
     transition: opacity 0.3s ease;
}

.buttonText {
    color: #FFF;
    text-align: center;
    font-family: "MD IO Trial";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    text-transform: uppercase;
}

.startButton:hover .buttonText {
  text-shadow: 0 0 8.5px rgba(255, 255, 255, 0.11), 0 0 8.5px rgba(255, 255, 255, 0.11), 0 0 8.5px rgba(255, 255, 255, 0.11), 0 0 8.5px rgba(255, 255, 255, 0.11), 0 0 8.5px rgba(255, 255, 255, 0.11), 0 0 8.5px rgba(255, 255, 255, 0.11), 0 0 8.5px rgba(255, 255, 255, 0.11), 0 0 8.5px rgba(255, 255, 255, 0.11);
}


.startButton.inactive {
    opacity: 0.5; 
    cursor: not-allowed; 
}


.startButton.inactive:hover .buttonText {
    text-shadow: none;
}