.startButton {
    width: 310px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
  
.buttonText {
    color: #FFF;
    text-align: center;
    font-family: "MD IO Trial";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    text-transform: uppercase;
}
  
