.sidebarContainer {
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 417px;
  padding: 16px 23px 23px 23px;
  border-radius: 15px 15px 0px 0px;
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0);
}

.answersList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 131px;
  overflow-y: auto;
}

.answersList::-webkit-scrollbar {
  display: none;
}

.answerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.questionNumber {
  color: #FFF;
  font-family: "MD IO Trial";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.answerLabel {
  color: #FFF;
  text-align: right;
  font-family: "MD IO Trial";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.answerItem:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}