.sidebarContainer {
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 417px;
  padding: 13px 23px 20px 23px;
  border-radius: 15px 15px 0px 0px;
  background: #000;;
  border: 1px solid rgba(255, 255, 255, 0);
}

.answersList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 106px;
  overflow-y: auto;
}

.answersList::-webkit-scrollbar {
  display: none;
}

.answerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.questionNumber {
  color: #FFF;
  font-family: "MD IO Trial";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.answerLabel {
  color: #FFF;
  text-align: right;
  font-family: "MD IO Trial";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.answerItem:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

.answerItem:hover {
  cursor: pointer;
  background-color: black;
  background-image: linear-gradient(to right,
   
    white 0%, white 20%, transparent 0%,
    transparent 21%,
    white 21%, white 33%, transparent 0%,
    transparent 34%,
    white 34%, white 41%, transparent 0%,
    transparent 42%,
    white 42%, white 46%, transparent 0%,
    transparent 47%,
    white 47%, white 49%, transparent 0%,
    transparent 50%,
    transparent 10%,
    white 50%, white 100%
  );
}


.answerItem:hover .questionNumber,
.answerItem:hover .answerLabel {
  color: #000; 
}